{% extends 'base.html' %}

{% block title %}Assignments{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="static/stylesheet/assignments.css">
<link rel="stylesheet" href="static/stylesheet/font-firacode.css">
{% endblock %}

{% block content%}
<div class="content">
        <div class="subheadings" id="assignments">
                <h2>Assignments</h2>
                <h4>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">MarkUs</a>.</h4>
        </div>
        <div class="block-content" id="assignment1">
            <h2>Assignment 1</h2>
            <p><b>Instruction</b><br>
                <a href="">Handout</a></p>
            <p><b>Topic(tentative)</b><br>
                Relational Algebra and MySQL</p>
            <p><b>Weight</b><br>
                15%</p>
            <p><b>Due Date</b><br>
                Part 1. Wednesday Feb. 1, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en">MarkUs</a><br>
                <b>UPDATED</b><br>
                Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en">MarkUs</a><br>
                You can download a dumpfile for IMDB_SMALL <a href="static/pdfs/syllabus.pdf">here</a><br>To use it type <code>mysql -u utorid -p < IMDB_SMALL.sql</code></p>
            <p><b>Solution</b><br>
                <a href="static/pdfs/syllabus.pdf">Part 1</a></p>
        </div>
        <div class="block-content" id="assignment2">
            <h2>Assignment 2</h2>
            <p><b>Instruction</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a> <a href="static/pdfs/syllabus.pdf">a2starter.zip</a></p>
            <p><b>Topic(tentative)</b><br>
                HTML, CSS, PHP</p>
            <p><b>Weight</b><br>
                15%</p>
            <p><b>Due Date</b><br>Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en">MarkUs</a><br>
                Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en">MarkUs</a>
            <p><b>Solution</b><br>
            </p>
        </div>
        <div class="block-content" id="assignment3">
            <h2>Assignment 3</h2>
            <p><b>Instruction</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
                <a href="static/pdfs/syllabus.pdf">Marking Scheme</a></p>
            <p><b>Topic(tentative)</b><br>
                HTML, CSS, PHP</p>
            <p><b>Weight</b><br>
                15%</p>
            <p><b>Due Date</b><br>
                Friday March 31, 11.59pm</a>
            <p><b>Solution</b><br>
            </p>
        </div>
        <div class="subheadings" id="midterm">
                <h2>Midterm</h2>
                <h4>There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here.</h4>
        </div>
        <div class="block-content" id="midterm-info">
            <img id="b20rooms-img" src="static/images/B20_rooms.jpg" alt="Midterm - Room Allocation" width="1165" height="378">
            <p>Preparing for the midterm:</p>
            <ul>
                <li>Understand all parts of A1.</li>
                <li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.</li>
            </ul>
            <p>Once you have done some preparation, you can practice on <a href="static/pdfs/syllabus.pdf">a previous midterm</a></p>
        </div>
    </div>
{% endblock %}