{% extends 'base.html' %}

<!-- title append to CSCB20 -->
{% block title %}Feedback{% endblock %}

<!-- customcss unique to this page -->
{% block customcss %}
<link rel="stylesheet" href="static/stylesheet/feedback.css">
{% endblock %}

<!-- content -->
{% block content%}
<div class="content">
    <div class="subheadings" id="student-feedback">
        <h2>Student Feedback</h2>
    </div>
    <div class="block-content">
        <h2> Anonymous </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla quam id purus pretium egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ut libero eu ligula pellentesque aliquet. Suspendisse tristique augue nec arcu euismod viverra. Morbi venenatis volutpat eros, quis lobortis augue congue at. Phasellus ut tristique lacus, et pulvinar nibh. Cras ipsum metus, eleifend quis sem in, commodo dignissim est. Aliquam finibus, mauris laoreet ultrices faucibus, libero enim gravida leo, vel auctor lectus augue vitae nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus at luctus nisi, semper laoreet ipsum. Aliquam erat volutpat.
                Quisque eu tellus at massa suscipit ornare at quis felis. Fusce sagittis eleifend ligula commodo viverra. Suspendisse vitae euismod tortor. Donec dignissim a nibh vitae porttitor. Maecenas iaculis rhoncus tortor, id fermentum sapien molestie nec. Cras iaculis ipsum ut arcu pretium congue. Pellentesque molestie iaculis diam, vitae hendrerit urna.
                Phasellus imperdiet dolor a risus auctor, ac auctor lorem rutrum. Vestibulum in lorem et orci sollicitudin ultricies quis vitae nibh. Mauris pharetra accumsan magna et interdum. Cras est mi, tincidunt ac urna mattis, mollis accumsan nunc. Sed porttitor iaculis metus, non dapibus massa dapibus eget. Proin vehicula vitae velit vel tempor. Nam non tempus sapien. Cras sit amet lorem et dolor interdum elementum. Praesent laoreet pellentesque dui, a blandit neque euismod eu. Pellentesque rhoncus efficitur commodo. Maecenas feugiat volutpat auctor. Aenean malesuada sagittis velit quis tristique. Mauris magna augue, mollis eget turpis eu, fringilla rhoncus sapien.</p>
    </div>
    <div class="block-content">
        <h2> Anonymous </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla quam id purus pretium egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ut libero eu ligula pellentesque aliquet. Suspendisse tristique augue nec arcu euismod viverra. Morbi venenatis volutpat eros, quis lobortis augue congue at. Phasellus ut tristique lacus, et pulvinar nibh. Cras ipsum metus, eleifend quis sem in, commodo dignissim est. Aliquam finibus, mauris laoreet ultrices faucibus, libero enim gravida leo, vel auctor lectus augue vitae nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus at luctus nisi, semper laoreet ipsum. Aliquam erat volutpat.
            Quisque eu tellus at massa suscipit ornare at quis felis. Fusce sagittis eleifend ligula commodo viverra. Suspendisse vitae euismod tortor. Donec dignissim a nibh vitae porttitor. Maecenas iaculis rhoncus tortor, id fermentum sapien molestie nec. Cras iaculis ipsum ut arcu pretium congue. Pellentesque molestie iaculis diam, vitae hendrerit urna.</p>
    </div>
    <div class="block-content">
        <h2> Esther Bullitt </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit error a in qui sint excepturi, inventore sapiente nam dolore nemo cum illo, ipsa officia repellendus voluptatem fugiat illum corporis tempora. Donec eu lacus nec eros placerat luctus ac sed ligula. Vivamus sit amet erat ligula. Sed congue mollis est at blandit. Integer quis enim id lacus porttitor blandit</p>
    </div>
    <div class="block-content">
        <h2> Anonymous </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla quam id purus pretium egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ut libero eu ligula pellentesque aliquet. Suspendisse tristique augue nec arcu euismod viverra. Morbi venenatis volutpat eros, quis lobortis augue congue at. Phasellus ut tristique lacus, et pulvinar nibh. Cras ipsum metus, eleifend quis sem in, commodo dignissim est. Aliquam finibus, mauris laoreet ultrices faucibus, libero enim gravida leo, vel auctor lectus augue vitae nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus at luctus nisi, semper laoreet ipsum. Aliquam erat volutpat.

                Quisque eu tellus at massa suscipit ornare at quis felis. Fusce sagittis eleifend ligula commodo viverra. Suspendisse vitae euismod tortor. Donec dignissim a nibh vitae porttitor. Maecenas iaculis rhoncus tortor, id fermentum sapien molestie nec. Cras iaculis ipsum ut arcu pretium congue. Pellentesque molestie iaculis diam, vitae hendrerit urna.
                
                Phasellus imperdiet dolor a risus auctor, ac auctor lorem rutrum. Vestibulum in lorem et orci sollicitudin ultricies quis vitae nibh. Mauris pharetra accumsan magna et interdum. Cras est mi, tincidunt ac urna mattis, mollis accumsan nunc. Sed porttitor iaculis metus, non dapibus massa dapibus eget. Proin vehicula vitae velit vel tempor. Nam non tempus sapien. Cras sit amet lorem et dolor interdum elementum. Praesent laoreet pellentesque dui, a blandit neque euismod eu. Pellentesque rhoncus efficitur commodo. Maecenas feugiat volutpat auctor. Aenean malesuada sagittis velit quis tristique. Mauris magna augue, mollis eget turpis eu, fringilla rhoncus sapien.
                
                Donec eu lacus nec eros placerat luctus ac sed ligula. Vivamus sit amet erat ligula. Sed congue mollis est at blandit. Integer quis enim id lacus porttitor blandit. Nullam et eleifend nulla, sodales vestibulum ligula. Maecenas porttitor ut elit nec maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ut elit sapien. Morbi vel lorem vitae magna rhoncus lacinia.
                
                Nullam rhoncus, ligula non sagittis faucibus, velit tortor cursus tellus, non aliquam quam urna non est. Integer dapibus enim eget dolor convallis, a aliquet magna imperdiet. Nam venenatis a lectus nec gravida. Phasellus ut nulla ac magna molestie dictum hendrerit non nisl. Curabitur sed lectus eu urna dapibus tempor nec id dui. Ut ut augue et justo lacinia malesuada convallis sed elit. Cras bibendum tempus velit, non aliquet nisi tristique quis. Suspendisse potenti. Maecenas condimentum imperdiet sollicitudin. Donec tortor lacus, luctus a lobortis eget, fringilla sed quam. Vivamus iaculis facilisis mi, quis dictum diam volutpat viverra.</p>
    </div>
        <div class="subheadings" id="feedback-info">
            <h2> Submit Your Feedback! </h2>
            <h4> Use the form below to submit your anonymous feedback. You do not need to enter your name unless you wish to be identified. Note that your feedback may be posted on the discussion board or the course website. </h4>
        </div>
        
        <div class="form" id="feedback-form">
            <form>
                <div class="std-name">
                    <label> <b>Your name</b> (optional): </label>
                    <input type="text" placeholder="Leave empty for Anonymous">
                </div>
                <div class="std-txtarea">
                    <label> <b>What do you like about the instructor teaching?</b> (required): </label>
                    <textarea placeholder="Type your feedback here"></textarea>
                </div>
                <div class="std-txtarea">
                    <label> <b>What do you recommend the instructor to do to improve their teaching?</b> (required): </label>
                    <textarea placeholder="Type your feedback here"></textarea>
                </div>
                <div class="std-txtarea">
                    <label> <b>What do you like about the labs?</b> (required): </label>
                    <textarea placeholder="Type your feedback here"></textarea>
                </div>
                <div class="std-txtarea">
                    <label> <b>What do you recommend the lab instructors to do to improve their lab teaching?</b> (required): </label>
                    <textarea placeholder="Type your feedback here"></textarea>
                </div>
                <div class="submit-btn">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}