{% extends 'base.html' %}

<!-- title append to CSCB20 -->
{% block title %}Labs{% endblock %}

<!-- customcss unique to this page -->
{% block customcss %}

<link rel="stylesheet" href="stylesheet/font-firacode.css">
{% endblock %}

<!-- content -->
{% block content%}
<div class="content">
        <div class="subheadings" id="tut-section-info">
            <h2>Tutorial Sections</h2>
            <h4>Please go the tutorial section that you signed up for on ROSI.</h4>
        </div>
        <div class="subheadings" id="tut-exercise-info">
            <h2>Tutorial Exercises</h2>
            <h4>This section contains the tutorial exercises.</h4>
            <h4>Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</h4>
        </div>
        <div class="block-content" id="week2lab">
            <h2>Week 2</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Python</a>
                <a href="static/pdfs/syllabus.pdf">Command line</a>
            </p>
            <p><b>Solutions</b></p>
        </div>
        <div class="block-content" id="week3lab">
            <h2>Week 3</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
            </p>
            <p><b>Solutions</b></p>
        </div>
        <div class="block-content" id="week4lab">
            <h2>Week 4</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
                <a href="static/pdfs/syllabus.pdf">university.sql</a>
            </p>
            <p><b>Solutions</b><br>
                <a href="static/pdfs/syllabus.pdf">query_solns</a></p>
        </div>
        <div class="block-content" id="week5lab">
            <h2>Week 5</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Python</a>
            </p>
            <p><b>Solutions</b><br>
                <a href="static/pdfs/syllabus.pdf">Solns</a></p>
        </div>
        <div class="block-content" id="week6lab">
            <h2>Week 6</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
            </p>
            <p><b>Solutions</b><br>
                <a href="static/pdfs/syllabus.pdf">Solns</a></p>
        </div>
        <div class="block-content" id="week7lab">
            <h2>Week 7</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
            </p>
            <p><b>Solutions</b></p>
        </div>
        <div class="block-content" id="week8lab">
            <h2>Week 8</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
            </p>
            <p><b>Solutions</b></p>
        </div>
        <div class="block-content" id="week9lab">
            <h2>Week 9</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">Handout</a>
            </p>
            <p><b>Solutions</b></p>
        </div>
        <div class="block-content" id="week10lab">
            <h2>Week 10</h2>
            <p><b>Lab</b><br>
                <a href="static/pdfs/syllabus.pdf">W3 tutorial</a><br>
                Work through the tutorial for jQuery up until jQuery Remove.
            </p>
            <p><b>Solutions</b></p>
        </div>
    </div>
{% endblock %}