{% extends 'base.html' %}

<!-- title append to CSCB20 -->
{% block title %}Lectures{% endblock %}

<!-- customcss unique to this page -->
{% block customcss %}
{% endblock %}

<!-- content -->
{% block content%}
<div class="content">
        <div class="subheadings" id="lec-info">
            <h2>Lecture Schedule</h2>
            <h4>Please print and bring these notes/worksheets to class.</h4>
        </div>
        <div class="block-content" id="week1lec">
            <h2>Week 1</h2>
            <p><b>Topic</b><br>
                Introduction, Databases background</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf"> Week 1.pdf </a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week2lec">
            <h2>Week 2</h2>
            <p><b>Topic</b><br>
                Schema Diagrams, Relational Algebra</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 2.pdf</a>
                <a href="static/pdfs/syllabus.pdf">Worksheet Solutions</a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week3lec">
            <h2>Week 3</h2>
            <p><b>Topic</b><br>
                SQL and MySQL</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 3.pdf</a> <a href="static/pdfs/syllabus.pdf">MySQL Worksheet</a></p>
            <p><b>In Class</b><br>
                <a href="static/pdfs/syllabus.pdf">In Class MySQL</a></p>
        </div>
        <div class="block-content" id="week4lec">
            <h2>Week 4</h2>
            <p><b>Topic</b><br>
                MySQL Queries, Creating and Editing Tables</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 4.pdf</a> <a href="static/pdfs/syllabus.pdf">More MySQL Worksheet Solutions</a></p>
            <p><b>In Class</b><br>
                <a href="static/pdfs/syllabus.pdf">In Class MySQL</a></p>
        </div>
        <div class="block-content" id="week5lec">
            <h2>Week 5</h2>
            <p><b>Topic</b><br>
                MYSQL Outer Joins, Views, NULL, string functions, HTML</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 5.pdf</a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week6lec">
            <h2>Week 6</h2>
            <p><b>Topic</b><br>
                HTML, CSS</p>
            <p><b>Reading:</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 6.pdf</a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week7lec">
            <h2>Week 7</h2>
            <p><b>Topic:</b><br>
                PHP</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 7.pdf</a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week8lec">
            <h2>Week 8</h2>
            <p><b>Topic</b><br>
                PHP and SQL </p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 8.pdf</a></p>
            <p><b>In Class</b><br>
                Empty starter file <a href="static/pdfs/syllabus.pdf">query.php</a><br>
                To look at the txt for this file, download this <a href="static/pdfs/syllabus.pdf">php_query.txt</a></p>
        </div>
        <div class="block-content" id="week9lec">
            <h2>Week 9 </h2>
            <p><b>Topic</b><br>
                JavaScript and jQuery</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 9.pdf</a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week10lec">
            <h2>Week 10</h2>
            <p><b>Topic</b><br>
                jQuery, AJAX, JSON</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">Week 10.pdf</a></p>
            <p><b>In Class</b></p>
        </div>
        <div class="block-content" id="week11lec">
            <h2>Week 11</h2>
            <p><b>Topic</b><br>
                Last Year's Final</p>
            <p><b>Reading</b></p>
            <p><b>Lecture Material</b><br>
                <a href="static/pdfs/syllabus.pdf">W16 Final.pdf</a> Note that some questions have code missing because portions resemble your A3.</p>
            <p><b>In Class</b></p>
        </div>
    </div>
{% endblock %}